{% extends 'base.html' %}
{% block title %}Reports{% endblock %}
{% block content %}
<h2 class="title is-3">Reports</h2>
<p class="subtitle is-6">Summary + export files</p>

<div class="columns is-multiline mb-2">
  <div class="column is-4"><div class="box"><p class="heading">RFQs</p><p class="title is-4">{{ kpi.rfq_count }}</p></div></div>
  <div class="column is-4"><div class="box"><p class="heading">Purchase Orders</p><p class="title is-4">{{ kpi.po_count }}</p></div></div>
  <div class="column is-4"><div class="box"><p class="heading">Invoices</p><p class="title is-4">{{ kpi.invoice_count }}</p></div></div>
</div>

<div class="buttons">
  <a class="button is-link" href="{{ url_for('erp.reports_export_xlsx') }}">Export Excel</a>
  <a class="button is-danger" href="{{ url_for('erp.reports_export_pdf') }}">Export PDF</a>
</div>
{% endblock %}
